.return-button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.return-button:hover {
    background-color: #45a049;
}

.return-button:focus {
    outline: none;
}

.view-button {
    padding: 8px 12px;
    background-color: #d26821;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-button:hover {
    background-color: #d26818;
}

.view-button:focus {
    outline: none;
}
/**/

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 10px;
}

#search input[type=text], #search input[type=email] {
    border-radius: 6px;
    border: solid 0.7px rgb(95, 108, 167);
    padding: 5px 5px 5px 7px;
    height: 34px;
    width: 200px;
    margin-right: 20px;
}

#search input[type=text]:focus, #search input[type=email]:focus {
    outline: 0.4px solid rgba(115, 140, 224, 0.795);
}

#search #status {
    display: flex;
    flex-direction: column;
    width: 170px;
}

#search #issue_type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#search #status > label :first-of-type {
    margin-left: 20px;
}

#search #issue_type > label {
    margin-right: 20px;
    width: 160px;
}

#search #status > label, #search #issue_type > label {
    cursor: pointer;
}

#search input[type=submit], #search input[type=button], #search input[type=text] {
    margin-bottom: 25px;
    margin-left: 25px;
}

#search input[type=button] {
    margin-right: 0;
    margin-left: 75px;
}

#none {
    margin: 20px auto 0;
}

input[name=clear] {
    color: rgb(11, 35, 78) !important;
    border: solid 0.7px rgb(95, 108, 167) !important;
    background-color: rgb(239, 239, 239) !important;
    cursor: pointer;
}

input[type=submit], input[type=button] {
    width: 130px;
    height: 34px;
    margin: 25px auto 40px;
    padding: 5px 5px 5px 7px;
    border: solid 0.7px rgb(146, 144, 11);
    border-radius: 6px;
    background-color: rgb(190, 188, 14);
    color: white;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=submit]:disabled {
    background-color: rgb(111, 185, 80);
}

input[type=submit]:enabled {
    background-color: rgb(61, 190, 14);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 35, 78, 0.3);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f32121;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
    transform: translateX(22px);
    bottom: 4px;
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}


.previous-button,
.next-button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.previous-button:hover,
.next-button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}
/*ee8989*/
/*tr {*/
/*    background-color: #fafafa;*/
/*}*/

.actions-cell {
    display: flex;
    align-items: center;
}

.edit-button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #45a049;
}

.edit-button:focus {
    outline: none;
}
.add-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

/* Form button hover effect */
.add-button:hover {
    background-color: #45a049;
}